/* Criando as variáveis do projeto */
:root {
  --brandColor1: #4c6ef5;
  --brandColor2: #364fc7;
  --greyColor0: #191c1f;
  --greyColor1: #212529;
  --greyColor2: #343a40;
  --greyColor3: #adb5bd;
  --greyColor4: #ced4da;
  --greyColor5: #f8f9fa;
  --greyColor6: #edf2ff;
  --fontWeightTitle1: 600;
  --fontWeightTitle2: 400;
}
