.header__container {
  width: 100vw;
  height: 100px;
  background-color: var(--greyColor0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--brandColor1);
}

.header__container > p {
  margin-left: 100px;
  color: var(--greyColor5);
  font-size: 20px;
  font-weight: 500;
}

.button__container {
  margin-right: 100px;
  width: 241px;
  height: 60px;
  border: 1px solid var(--greyColor6);
  background-color: var(--greyColor0);
  color: var(--greyColor6);
  font-size: 14px;
  font-weight: var(--fontWeightTitle1);
  text-align: center;
  font-style: normal;
}

.button__container:hover {
  background-color: var(--brandColor2);
  border: 1px solid var(--brandColor2);
  cursor: pointer;
}
